body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

label {
    font-size: 20px;
    color: darkcyan;
    width: 1500px;
}

textarea {
    font-size: 20px;
}

li {
    list-style-type: none;
}

.translate {
    height: 100px;
    width: 100px;
    transition: 0s;
    animation: doge 2s linear infinite;
    -webkit-animation: doge 2s linear infinite; /* Chrome, Safari 5 */
    -moz-animation: doge 2s linear infinite; /* Firefox 5-15 */
    -o-animation: doge 2s linear infinite; /* Opera 12+ */
    animation: doge 2s linear infinite; /* Chrome, Firefox 16+, 
                                                      IE 10+, Safari 5 */
}

@keyframes doge {
    from {
        transform: translateX(0px) translateY(100px);
    }

    to {
        transform: translateX(150px) translateY(0px);
    }
}