@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
   ViewData["Title"] = "Doge Much Moon";
}



<!--Header, Image, and Description-->
<h1>Josh Keller</h1>
<img id="picAnderson" src="/images/keller.JPG" height="200" />
<p>This is me hanging out with my nephew, Ezra. Defintely my favorite pastime right now.</p>
<br />

<!--What I hope to get out of this class-->
<p>
    In this class, I hope to add to my knowledge of web programming. I already know a decent amount about
    web development, but I've never used ASP.NET Core. I think learning a new framework will help me better
    understand all aspects of web development. I'm especially excited to learn more about building backends.
</p>


<!--Preferred jobs section-->
<h4>Top 3 Preferred Jobs</h4>
<ol>
    <li>1. Intern for Kramerica Industries</li>
    <li>2. Latex Salesman for Vandelay Industries</li>
    <li>3. Importer/Exporter</li>
</ol>




